<div class="outer-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="main-container" ngClass.xs="main-container-xs" ngClass.md="main-container-md" fxLayout="row" fxLayoutAlign="space-between start">
    <div class="input-form" ngClass.xs="input-form-xs" ngClass.sm="input-form-sm" 
    ngClass.md="input-form-md">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="fundoologo">
          <h1>
              <span class="logo-f">F</span>
              <span class="logo-u">u</span>
              <span class="logo-n">n</span>
              <span class="logo-d">d</span>
              <span class="logo-o">o</span>
              <span class="logo-2o">o</span>
          </h1>
          <h1>Create your Fundoo Account</h1>
        </div>
        <div class="name-pass-input" ngClass.xs="name-pass-input-xs" ngClass.sm="name-pass-input-sm" ngClass.md="name-pass-input-md" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstname">
            <mat-error>Enter valid first name</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastname">
            <mat-error>Enter valid last name</mat-error>
          </mat-form-field>
        </div>

        <div fxLayout="column" fxLayoutAlign="stretch">
          <mat-form-field appearance="outline">
            <mat-label>Your Email Address</mat-label>
            <input matInput placeholder="Your Email Address" formControlName="email">
            <mat-error>Enter valid Email id</mat-error>
          </mat-form-field>
        </div>
        <span class="hint">You can use letters,numbers and periods</span>

        <div class="name-pass-input" ngClass.xs="name-pass-input-xs" ngClass.md="name-pass-input-md" fxLayout="row" fxLayoutAlign="space-between center">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input [type]="inputType" matInput placeholder="Password" formControlName="password">
            <mat-error>Enter valid password</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirm</mat-label>
            <input [type]="inputType" matInput placeholder="Confirm" formControlName="confirm">
            <mat-error>Password not matched</mat-error>
          </mat-form-field>
        </div>

        <p class="hint">Use 8 or more characters with a mix of
          letters, numbers & symbols </p>
        <div class="showCheckbox">
          <input type="checkbox" (change)="showPass($event)" class="example-margin">Show password
          <!-- <mat-checkbox (change)="showPass($event)" class="example-margin">Show password</mat-checkbox> -->
        </div>

        <div class="next-button" fxLayout="row" fxLayoutAlign="space-between center">
          <p class="router" routerLink="/login">Sign in instead</p>
          <button mat-flat-button color="primary">Next</button>
        </div>
      </form>
    </div>

    <div class="for-image" ngClass.xs="for-image-xs" ngClass.sm="for-image-sm" 
        ngClass.md="for-image-md" fxLayout="column" fxLayoutAlign="center center">
      <img src="../assets/account.svg">
      <p>One account. All of Fundoo</p>
      <p> Working for you</p>
    </div>
  </div>
</div>
