<div class="outer-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="main-container" ngClass.xs="main-container-xs" ngClass.md="main-container-md"
        ngClass.lg="main-container-lg" fxLayout="column" fxLayoutAlign="space-between start">
    <div class="input-form" ngClass.xs="input-form-xs" ngClass.sm="input-form-sm" 
          ngClass.md="input-form-md" fxLayout="column" fxLayoutAlign="start center">
      <div class="fundoologo">
        <h1>
          <span class="logo-f">F</span>
          <span class="logo-u">u</span>
          <span class="logo-n">n</span>
          <span class="logo-d">d</span>
          <span class="logo-o">o</span>
          <span class="logo-2o">o</span>
        </h1>
        <h2>Reset Password</h2>
        <h3>Choose a strong password</h3>
      </div>

      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="password" fxLayout="column" fxLayoutAlign="center stretch">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="New Password" formControlName="password">
            <mat-error>Enter valid password</mat-error>
          </mat-form-field>
        </div>

        <div class="confirmpassword" fxLayout="column" fxLayoutAlign="center stretch">
          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="Confirm Password" formControlName="confirmpassword">
            <mat-error>Password not matched</mat-error>
          </mat-form-field>

        </div>
        <div class="next-button" fxLayout="row" fxLayoutAlign="end center">
          <button mat-flat-button color="primary">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>