<div class="container" fxLayout="row" fxLayoutAlign="center center">
  <div class="icon-row" fxLayout="row" fxLayoutAlign="space-between center">
    <img src="../../../assets/add_alert_FILL0_wght400_GRAD0_opsz48.svg">
    <img src="../../../assets/person_add_FILL0_wght400_GRAD0_opsz48.svg">
    <img src="../../../assets/palette_FILL0_wght400_GRAD0_opsz48.svg">
    <img src="../../../assets/image_FILL0_wght400_GRAD0_opsz48.svg">
    <img src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg">
    <img src="../../../assets/more_vert_FILL0_wght400_GRAD0_opsz48.svg">
  </div>
</div>