.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
}

.note{
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  width: 250px;
  height: fit-content;
}
.note:hover{
  box-shadow: 0px 0px 2px grey;
}
.title{
  width: 99%;
  height: 30px;
  font-weight: 100px;
  font-size: 14px;
}   
span{
  padding-bottom: 10px;
}
.takenote{
  height: fit-content;   
  font-size: 14px;
  word-wrap:break-word;
  width: 99%; 
  padding-bottom: 10px;
}
.pin-icon{
  padding-left: 5px;
  padding-top: 1px;
  block-size: 23px;
}

app-icons,.pin-icon{
  visibility: hidden;
}
.note:hover{
  app-icons,.pin-icon{visibility: visible;}
}

// .main-container-md{
//   width: 90%;
//   height: 100%;
// }

// .main-container-sm{
//   width: 80%;
//   height: 100%;
// }

// .main-container-xs{
//   width: 70%;
//   height: 90%;
// }
button:hover{
  box-shadow: 0px 0px 1px grey;
  background-color: #e8e8e8;
}

::ng-deep .my-custom-dialog-class{
  mat-dialog-container {
    padding: 0;
    border-radius: 10px;
  }
}

.note-list{
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-content: center;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid lightgray;
  width: 500px;
  height: fit-content;
}
.note-list:hover{
  app-icons,.pin-icon{visibility: visible;}
}