<div class="container" fxLayout="column" fxLayoutAlign="space-between center">
  <div class="note" fxLayout="column" fxLayoutAlign="center start">
    <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
      <span>Title</span>
      <img class="pin-icon" src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg" alt="pin">
    </div>

    <div class="takenote">
        <span>Description Description Description Description</span>

    </div>
    <app-icons></app-icons>
  </div>
</div>
