<div class="note" fxLayout="column" fxLayoutAlign="center start" [style.background]="color">
  <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
    <input type="text"[(ngModel)]="title">
    <img class="pin-icon" src="../../../assets/push_pin_FILL0_wght400_GRAD0_opsz48.svg" alt="pin">
  </div>

  <div class="takenote">
    <textarea [(ngModel)]="desc"></textarea>
  </div>
  <div class="icons" fxLayout="row" fxLayoutAlign="space-between center">
    <app-icons [noteObj]="data" (changeNoteEvent)="iconRefresh($event)"></app-icons>
    <button mat-button (click)="onClick()">Close</button>
  </div>
</div>