<div class="outer-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="main-container" fxLayout="row" fxLayoutAlign="start center">
    <div class="input-form" fxLayout="column" fxLayoutAlign="start center">
      <div class="fundoologo">
        <h1>
          <span class="logo-f">F</span>
          <span class="logo-u">u</span>
          <span class="logo-n">n</span>
          <span class="logo-d">d</span>
          <span class="logo-o">o</span>
          <span class="logo-2o">o</span>
        </h1>
        <h1>Find your email</h1>
        <p>Enter your phone number or recovery email</p>
      </div>
      <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
      <div class="email" fxLayout="column" fxLayoutAlign="center stretch">
          <mat-form-field appearance="outline">
            <mat-label>Phone number or email</mat-label>
            <input matInput placeholder="Phone number or email" formControlName="email">
            <mat-error>Enter valid Email id</mat-error>
          </mat-form-field>
        </div>

        <div class="next-button" fxLayout="row" fxLayoutAlign="end end">
          <button mat-flat-button color="primary">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>

